<launch>
    <arg name="model" default="$(find warehousebot_description)/urdf/warehousebot.urdf"/>
    <arg name="gui" default="true"/>
    <arg name="rvizconfig" default="$(find warehousebot_description)/rviz/display.rviz"/>

    <param name="robot_description" textfile="$(arg model)"/>
    
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
    
    <!--node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)"/-->
</launch>
