<launch>

    <node pkg="rosserial_python" type="serial_node.py" name="rosserial">
        <rosparam param="baud">57600</rosparam>
        <rosparam param="port">/dev/ttyACM0</rosparam>
    </node>        

    <node pkg="differential_drive" type="pid_velocity.py" name="lpid_vel">
        <remap from="wheel" to="lwheel"/>
        <remap from="motor_cmd" to="lmotor_cmd"/>
        <remap from="wheel_vtarget" to="lwheel_vtarget"/>
        <remap from="wheel_vel" to="lwheel_vel"/>
        <rosparam param="Kp">200</rosparam>
        <rosparam param="Ki">200</rosparam>
        <rosparam param="Kd">0</rosparam>
    </node>

    <node pkg="differential_drive" type="pid_velocity.py" name="rpid_vel">
        <remap from="wheel" to="rwheel"/>
        <remap from="motor_cmd" to="rmotor_cmd"/>
        <remap from="wheel_vtarget" to="rwheel_vtarget"/>
        <remap from="wheel_vel" to="rwheel_vel"/>
        <rosparam param="Kp">200</rosparam>
        <rosparam param="Ki">200</rosparam>
        <rosparam param="Kd">0</rosparam>
    </node>

    <node pkg="differential_drive" type="twist_to_motors.py" name="twist_to_motor" output="screen"/>

    
</launch>