<launch>

    <rosparam param="ticks_meter">2586</rosparam>
    <rosparam param="base_width">0.3</rosparam>

    <node pkg="rosserial_python" type="serial_node.py" name="rosserial">
        <rosparam param="baud">57600</rosparam>
        <rosparam param="port">/dev/ttyACM0</rosparam>
    </node>        

    <node pkg="differential_drive" type="pid_velocity.py" name="lpid_vel">
        <remap from="wheel" to="left_wheel"/>
        <remap from="motor_cmd" to="lmotor_cmd"/>
        <remap from="wheel_vtarget" to="lwheel_vtarget"/>
        <remap from="wheel_vel" to="lwheel_vel"/>
        <rosparam param="Kp">300</rosparam>
        <rosparam param="Ki">10</rosparam>
        <rosparam param="Kd">0</rosparam>
    </node>

    <node pkg="differential_drive" type="pid_velocity.py" name="rpid_vel">
        <remap from="wheel" to="right_wheel"/>
        <remap from="motor_cmd" to="rmotor_cmd"/>
        <remap from="wheel_vtarget" to="rwheel_vtarget"/>
        <remap from="wheel_vel" to="rwheel_vel"/>
        <rosparam param="Kp">300</rosparam>
        <rosparam param="Ki">10</rosparam>
        <rosparam param="Kd">0</rosparam>
    </node>

    <node pkg="differential_drive" type="twist_to_motors.py" name="twist_to_motor" output="screen" />

    <!-- <node pkg="differential_drive" type="diff_tf.py" name="diff_tf" output="screen" /> -->

    <node pkg="diff_drive" type="diff_drive_odometry" name="diff_odom" output="screen">
        <remap from="lwheel_ticks" to="left_wheel"/>
        <remap from="rwheel_ticks" to="right_wheel"/>
        <remap from="lwheel_rate" to="lwheel_vel"/>
        <remap from="rwheel_rate" to="rwheel_vel"/>
        <remap from="~ticks_per_meter" to="ticks_meter"/>
        <remap from="~wheel_separation" to="base_width"/>

        <rosparam param="base_width">0.3</rosparam>
    </node>


    
</launch>
