<launch>

    <arg name="teleop" default="true"/>

    <group if="$(arg teleop)">
        <include file="$(find warehousebot_simulation)/launch/teleop.launch" />
        <include file="$(find warehousebot_description)/launch/display.launch" />
        <include file="$(find rplidar_ros)/launch/rplidar.launch" />
    </group>

    <include file="$(find warehousebot_stm32)/launch/controller_setup.launch" />
    <include file="$(find warehousebot_description)/launch/display.launch" />
    <include file="$(find rplidar_ros)/launch/rplidar.launch" />

</launch>
