<launch>
 
<!-- Hector Node -->    

    <!-- <include file="$(find hector_mapping)/launch/mapping_default.launch">
        <arg name="base_frame" value="base_link"/>
        <arg name="odom_frame" value="odom"/>
        <arg name="pub_map_odom_transform" value="true"/>
    </include>

    <include file="$(find hector_geotiff)/launch/geotiff_mapper.launch">
        <arg name="trajectory_source_frame_name" value="/odom"/>
        <param name="source_frame_name" type="string" value="/base_link" />
        <param name="trajectory_update_rate" value="10" />
        <param name="trajectory_publish_rate" value="10" />
        <arg name="map_file_path" value="$(find warehousebot_simulation)/map"/>
    </include>

    <node pkg="hector_trajectory_server" type="hector_trajectory_server" name="trajectory_node">
        <param name="target_frame_name" type="string" value="odom" />
        <param name="source_frame_name" type="string" value="base_link" />
        <param name="trajectory_update_rate" value="10" />
        <param name="trajectory_publish_rate" value="10" />
    </node> -->

<!-- Cartographer Node-->

    <node pkg="cartographer_ros" type="cartographer_node" name="cartographer_node" args="-configuration_directory $(find warehousebot_simulation)/config
              -configuration_basename carto_config.lua" output="screen">
    </node>

    <node pkg="cartographer_ros" type="cartographer_occupancy_grid_node" name="cartographer_occupancy_grid_node" args="-resolution 0.05" />
    
    
    <!-- <node pkg="tf" type="static_transform_publisher" name="base_link_laser_broadcaster" args="0 0 0 0 0 0 base_link laser 100"/> -->

</launch>

