<launch>

    <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
        <rosparam file="$(find warehousebot_simulation)/config/costmap_common_params.yaml" command="load" ns="global_costmap" />
        <rosparam file="$(find warehousebot_simulation)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
        <rosparam file="$(find warehousebot_simulation)/config/local_costmap_params.yaml" command="load" />
        <rosparam file="$(find warehousebot_simulation)/config/global_costmap_params.yaml" command="load" />
        <rosparam file="$(find warehousebot_simulation)/config/teb_local_planner_params.yaml" command="load" />

        <remap from="/cmd_vel" to="/twist" />

        <param name="base_global_planner" value="global_planner/GlobalPlanner"/>
        <param name="planner_frequency" value="1.0" />
        <param name="planner_patience" value="5.0" />

        <param name="base_local_planner" value="teb_local_planner/TebLocalPlannerROS" />
        <param name="controller_frequency" value="5.0" />
        <param name="controller_patience" value="15.0" />
    </node>

    <node name="map_server" pkg="map_server" type="map_server" args="$(find warehousebot_simulation)/maps/carto_map.yaml" output="screen">
        <param name="frame_id" value="map"/>
    </node>

    <node pkg="amcl" type="amcl" name="amcl" output="screen">
        <rosparam file="$(find warehousebot_simulation)/config/amcl_params.yaml" command="load" />
        <param name="initial_pose_x" value="2"/>
        <param name="initial_pose_y" value="2"/>
        <param name="initial_pose_a" value="0"/>
    </node>

    <!--change rviz filename-->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find warehousebot_simulation)/rviz/sim.rviz"/> 

</launch>